
<div>
    <form action="burgers/delete/{{id}}" method="DELETE">
    <input type="hidden" name="devoured" value="true">
    <button class="btn btn-default btn-lg" data-id="{{this.id}}"><i class="fa fa-trash"></i> Delete</button>
    </form>
</div>
